<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"2rem","bottom":"2rem"}}},"layout":{"type":"constrained","contentSize":"95vw","wideSize":"95vw"}} -->
<div class="wp-block-group" style="margin-top:2rem;margin-bottom:2rem">

		<!-- wp:post-content {"style":{"typography":{"fontFamily":"var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dfont-family\u002d\u002dapple-ii)","fontSize":"14px"}},"layout":{"type":"constrained","contentSize":"95vw","wideSize":"95vw"}} /-->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
